
<div *ngIf="questions">
    <h2><span>Questions</span> {{questions.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>

    <div class="card bg-dark">
        <div class="card-body">
            <div class="card-text">{{questions.user?.firstName}}, {{questions.user?.lastName}} |
                {{questions.dateCreated | date:'mediumDate'}} | {{questions.classroom?.className}} | {{questions.answerCount}} Answers </div>
            <h3 class="card-title underline-on-hover" [routerLink]="['../questions', questions.id ]">{{questions.questionlabel}}</h3>
            <div class="card-text" [innerHtml]="questions.safeQuestion"></div>
        </div>
    </div>

    <button class="btn btn-primary float-right jh-create-entity create-answers" [routerLink]="['/', { outlets: { popup: 'answersByQuestion/'+ questions.id+ '/edit' } }]"
            replaceUrl="true"
            queryParamsHandling="merge">
        <span class="fa fa-plus"></span>
        <span class="hidden-sm-down" >
            Create new Answers
            </span>
    </button>

    <div class="table-responsive" *ngIf="answers">
        <table class="table table-striped">
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <div *ngFor="let answer of answers ;trackBy: trackId">
                <div class="card bg-dark">
                    <div class="card-body">
                        <div class="card-text">{{answer.user?.firstName}}, {{answer.user?.lastName}} |
                            {{answer.dateCreated | date:'mediumDate'}} | {{answer.classroom?.className}}</div>
                        <div class="card-text" [innerHtml]="answer.safeAnswer"></div>
                    </div>
                </div>
            </div>
            </tbody>
        </table>
    </div>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'questions/'+ questions.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
