<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myQuestionsLabel">Create or edit a Questions</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!questions.id">
            <label for="id">ID</label>
            <input type="text" class="form-control form-control-sm" id="id" name="id"
                   [(ngModel)]="questions.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_classroom">Group</label>
            <select class="form-control form-control-sm" id="field_classroom" name="classroom" [(ngModel)]="questions.classroom"  required>
                <option *ngIf="!editForm.value.classroom" [ngValue]="null" selected></option>
                <option [ngValue]="classroomOption.id === questions.classroom?.id ? questions.classroom : classroomOption" *ngFor="let classroomOption of classrooms; trackBy: trackClassroomById">{{classroomOption.className}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_questionlabel">Question</label>
            <input type="text" class="form-control form-control-sm" name="questionlabel" id="field_questionlabel"
                [(ngModel)]="questions.questionlabel" required/>
            <div [hidden]="!(editForm.controls.questionlabel?.dirty && editForm.controls.questionlabel?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.questionlabel?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label">Question Details</label>
            <p-editor  name="question" id="field_question" (onInit)="editorCreated($event)"
                       [(ngModel)]="questions.question"  [style]="{'height':'180px'}"  >
                <p-header>

                    <span class="ql-formats">
                            <select class="ql-font"></select>
                            <select class="ql-size"></select>
                    </span>
                    <span class="ql-formats">
                            <button class="ql-italic"></button>
                            <button class="ql-underline"></button>
                            <button class="ql-strike"></button>
                    </span>
                    <span class="ql-formats">
                            <select class="ql-color"></select>
                            <select class="ql-background"></select>
                    </span>
                    <span class="ql-formats">
                            <button class="ql-script" value="sub"></button>
                            <button class="ql-script" value="super"></button>
                    </span>
                    <span class="ql-formats">
                            <button class="ql-header" value="1"></button>
                            <button class="ql-header" value="2"></button>
                            <button class="ql-blockquote"></button>
                            <button class="ql-code-block"></button>
                    </span>
                    <span class="ql-formats">
                            <button class="ql-list" value="ordered"></button>
                            <button class="ql-list" value="bullet"></button>
                            <button class="ql-indent" value="-1"></button>
                            <button class="ql-indent" value="+1"></button>
                    </span>
                    <span class="ql-formats">
                            <button class="ql-direction" value="rtl"></button>
                            <select class="ql-align"></select>
                    </span>
                    <span class="ql-formats">
                            <button class="ql-link"></button>
                            <button class="ql-image"></button>
                            <button class="ql-video"></button>
                    </span>

                </p-header>
            </p-editor>
        </div>
<!--
        <div class="form-group">
            <label class="form-control-label" for="field_isAnonymous">Is Anonymous</label>
            <input type="checkbox" class="form-control form-control-sm" name="isAnonymous" id="field_isAnonymous"
                [(ngModel)]="questions.isAnonymous" />
        </div>
-->

        <div [hidden]="!(editForm.controls.classroom?.dirty && editForm.controls.classroom?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.classroom?.errors?.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.6/quill.core.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.6/quill.snow.min.css">
