<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUserProfileLabel">Create or edit a User Profile</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!userProfile.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="userProfile.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_userPhone">User Phone</label>
            <input type="text" class="form-control" name="userPhone" id="field_userPhone"
                [(ngModel)]="userProfile.userPhone" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_userDob">User Dob</label>
            <div class="input-group">
                <input id="field_userDob" type="text" class="form-control" name="userDob" ngbDatepicker  #userDobDp="ngbDatepicker" [(ngModel)]="userProfile.userDob"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="userDobDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_userBloodGroup">User Blood Group</label>
            <input type="text" class="form-control" name="userBloodGroup" id="field_userBloodGroup"
                [(ngModel)]="userProfile.userBloodGroup" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_userImage">User Image</label>
            <div>
                <img [src]="'data:' + userProfile.userImageContentType + ';base64,' + userProfile.userImage" style="max-height: 100px;" *ngIf="userProfile.userImage" alt="userProfile image"/>
                <div *ngIf="userProfile.userImage" class="form-text text-danger clearfix">
                    <span class="pull-left">{{userProfile.userImageContentType}}, {{byteSize(userProfile.userImage)}}</span>
                    <button type="button" (click)="clearInputImage('userImage', 'userImageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_userImage" (change)="setFileData($event, userProfile, 'userImage', true)" accept="image/*"/>
            </div>
            <input type="hidden" class="form-control" name="userImage" id="field_userImage"
                [(ngModel)]="userProfile.userImage" />
            <input type="hidden" class="form-control" name="userImageContentType" id="field_userImageContentType"
                [(ngModel)]="userProfile.userImageContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_activate">Activate</label>
            <input type="checkbox" class="form-control" name="activate" id="field_activate"
                [(ngModel)]="userProfile.activate" />
            <div [hidden]="!(editForm.controls.activate?.dirty && editForm.controls.activate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.activate?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="userProfile.user"  required>
                <option *ngIf="!editForm.value.user" [ngValue]="null" selected></option>
                <option [ngValue]="userOption.id === userProfile.user?.id ? userProfile.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.user?.errors?.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_school">School</label>
            <select class="form-control" id="field_school" name="school" [(ngModel)]="userProfile.school"  required>
                <option *ngIf="!editForm.value.school" [ngValue]="null" selected></option>
                <option [ngValue]="schoolOption.id === userProfile.school?.id ? userProfile.school : schoolOption" *ngFor="let schoolOption of schools; trackBy: trackSchoolById">{{schoolOption.schoolName}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.school?.dirty && editForm.controls.school?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.school?.errors?.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
